/* Global Styles  */
html {
    background-color: #FFFBEB;
    font-size:16px;
    height:100%;
    color:#E77537;
}
body {
    
    font-family: canada-type-gibson, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size:1rem;
    color:#E77537;
    text-align:center;
    
    
}
a {
    
color:inherit;
}
div {
    display:block;
}
p {
    font-size: 1rem;
    font-weight:200;
}
h1 {
    font-size:2rem;
    color:inherit;
    }

h2 {
    font-size:1.25rem;
}
/* Top to bottom page styles */

header {
    
    display:flex;
    justify-content:space-between;
    align-items: center; 
    border-bottom: 2px solid #EB662F;
    height:6rem;
    z-index: 5;
    position:fixed;
    width:100%;
    background-color:cornsilk;
    top:0;
    flex-grow:1;
    flex-shrink:1;
    
}
.call-to-action {
    margin-left:10rem;
}

    
}

nav {
    
}
nav span {
    margin-right:1rem;
    padding-right:1rem;
    font-size:1.25rem;

}
.main {
       max-width:1024px;
        padding-top:1rem;
        margin:5rem auto 0 auto;
    
    
  
    
}
#hero-image {
   background-image: url(../assets/color-full.png);
   background-repeat:no-repeat;
    background-position:center;
    background-size:100%;
    max-width:960px;
     height:40rem;
    margin: 0 auto;
    padding-top:3rem;
    padding-bottom:.5rem;
    border-bottom: 2px solid #EB662F;
   
}
#about-us {
    
    padding-top:1rem;
    width:66%;
    margin:auto;
    border-bottom: 2px solid #EB662F;
    padding-bottom:2rem;
}


#events {
     padding-top:1rem;
    border-bottom: 2px solid #EB662F;
   padding-bottom:2rem;
    margin:auto;
    width:66%;
}

#event-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom:60px;
    margin-top:60px;
}
#event-gallery span {
            font-size:1.75rem;
                font-weight:600;
    }
.gallery-item img {
    height:300px;
    width:200px;
    display:block;
    padding:15px;
    margin:25px 50px 10px 50px;
}


#menu {
     padding-top:3rem;
    border-bottom: 2px solid #EB662F;
   padding-bottom:6rem;
    margin:auto;
    width:66%;
}

#contact {
     padding-top:3rem;
    border-bottom: 2px solid #EB662F;
   padding-bottom:6rem;
    margin:auto;
    width:66%;
}

    #footer-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom:60px;
    margin-top:60px;
    }

.phone-us {
    padding-top:2em;
    max-width:960px;
    display:flex;
    justify-content: center;
    align-content:space-between;
    
 }
.phone-us span {
 margin:0 auto;
    font-size:2rem;
}