/* Global Styles  */
html {
    background-color:cornsilk;
    font-size:18px;
}
body {
    
    font-family: canada-type-gibson, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size:1rem;
    color:#D45D2C;
    text-align:center;
    
    
}
a {
    
color:inherit;
}
div {
    display:block;
}
p {
    font-size: 2.5rem;
    font-weight:200
}
h1 {
    font-size:4rem;
    color:inherit;
    }

h2 {font-size:2rem;}
/* Top to bottom page styles */

header {
    
    display:flex;
    justify-content:space-between;
    align-items: center; 
    border-bottom: 2px solid #EB662F;
    height:10rem;
    z-index: 5;
    position:fixed;
    width:100%;
    background-color:cornsilk;
    top:0px;
}
.call-to-action {
    margin-left:10rem;
}
.nav  {
    display: block;
   
    
}
nav span {
    margin-right:7rem;
    font-size:2.25rem;}
.main {
        width:auto;
        padding-top:15rem;
  
    
}
#hero-image {
    
    background-image: url(../assets/color-full.png);
    background-repeat: no-repeat;
    height:55rem;
    width:1600px;
    margin:auto;
    padding-top:3rem;
    padding-bottom:3rem;
    border-bottom: 1px solid #EB662F;
}
#about-us {
    
    padding-top:3rem;
    width:66%;
    margin:auto;
    border-bottom: 2px solid #EB662F;
    padding-bottom:6rem;
}
#about-us p {
    padding-top:2rem;
    padding-bottom:.5rem;
}
#about-us h1 {
    
   
    padding-bottom:40px;
    
}

#events {
     padding-top:3rem;
    border-bottom: 2px solid #EB662F;
   padding-bottom:6rem;
    margin:auto;
    width:66%;
}
#events h1 {
     
    padding-bottom:40px;
}
#events p {
    margin:0;
    padding-bottom:25px;
}
#event-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom:60px;
    margin-top:60px;
}
#event-gallery span {
            font-size:1.75rem;
                font-weight:600;
    }
.gallery-item img {
    height:300px;
    width:200px;
    display:block;
    padding:15px;
    margin:25px 50px 10px 50px;
}


#menu {
     padding-top:3rem;
    border-bottom: 2px solid #EB662F;
   padding-bottom:6rem;
    margin:auto;
    width:66%;
}

#contact {
     padding-top:3rem;
    border-bottom: 2px solid #EB662F;
   padding-bottom:6rem;
    margin:auto;
    width:66%;
}

    #footer-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom:60px;
    margin-top:60px;
    }